@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@200&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


:root {
  --color-text-default: #37373f; /* #111; */
  --color-primary: #ce1212;
  --color-secondary: #EEEEEE;
  --color-secondary-contrast: #4f4f5a;
  --color-secondary-two: #B6B6BF;
  --color-secondaty-three: #676775;
  --color-secondaty-four: #8d8d9b;


  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Amatic SC', cursive, sans-serif;
  --font-title: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
}

nav ul li a {
  text-decoration: none;
  color: #7f7f90;
  padding: 5px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 80%;
  height: 90px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

header .logo {
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  cursor: pointer;
}

header .logo span {
  color: var(--color-primary);
}

.hamburguer {
  display: none;
  width: 20px;
  border-top: 3px solid var(--color-secondary-contrast);
  /* position: absolute; */
  right: 7vw;
  top: 2.5vh;
}

.hamburguer::after, .hamburguer::before {
  content: "";
  width: 30px;
  height: 3px;
  display: block;
  background-color: var(--color-secondary-contrast);
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

header .button-contact.active .hamburguer {
  border-top-color: transparent;
}

header .button-contact.active .hamburguer::before {
  transform: rotate(135deg);
}

header .button-contact.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

header .button-contact.active .hamburguer {
  border-top-color: transparent;
}

header .button-contact.active .hamburguer::before {
  transform: rotate(135deg);
}

header .button-contact.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

nav ul {
  display: flex;
  gap: 20px;
  margin-bottom: 0;
}

nav ul li {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-primary);
  visibility: hidden;
  transition:  all 0.3s ease-in-out 0s;
}

nav ul li:hover::before {
  visibility: visible;
  width: 100%;
}

nav ul li:hover a {
  color: var(--color-text-default);
}

.button-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-contact button{
  font-family: var(--font-title);
  font-weight: 300;
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.button-contact button:hover {
  background-color: rgba(206, 18, 18, 0.8);
}

.container-carouseul {
  width: 100%;
  background-color: var(--color-secondary);
  min-height: 60vh;
  height: auto;
}

.carouseul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 60%;
  max-width: 1400px;
  margin: 0 auto;
}

.carouseul .button-contact button {
  opacity: 0.7;
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 1.4rem;
}

.dish-text span { 
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-primary);
}

.dish-text h1 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 9.4rem;
  color: var(--color-text-default);
  margin-bottom: 2rem;
}

.dish-text .dish-description {
  width: 80%;
  margin-bottom: 20px;
}

.dish-text .dish-description p {
  line-height: 1.3;
  color: var(--color-secondary-contrast)
}

.dish-image img {
  width: 526px;
}

.noodles img {
  /* width: 526px; */
  margin-top: 30px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: var(--color-primary);
  opacity: 0.9;
  border-radius: 4px;
}

.container-menu-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title > span {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--color-secondary-contrast);
}

.title h2 {
  font-family: var(--font-secondary);
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.title h2 > span {
  color: var(--color-primary);
}

.menu-navegation ul {
  display: flex;
  gap: 20px;
}

.menu-navegation a {
  color: var(--color-text-default);
  text-decoration: none;
}

.menu-navegation ul li {
  font-family: var(--font-primary);
  position: relative;

  cursor: pointer;
}

.menu-navegation ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-secondary-two);
  transition: 0.3s;
}

.menu-navegation ul li:hover::before {
  height: 1px;
  color: var(--color-secondary);
}

.menu-navegation ul li:hover {
  color: var( --color-primary);
}

/* .container-principal-dishes {} */

.container-dessert-dishes {
  margin: 120px 0 0;
  background-color: #eee;
  padding: 80px 0;
}

.container-drinks-dishes {
  padding-top: 120px;
}

.principal-dishes, .dessert-dishes, .drinks-dishes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 4rem 0;

  max-width: 1400px;
}

.dishe-title {
  text-align: center;
  margin-bottom: 40px;
}

.dishe-title span {
  font-family: var(--font-primary);
  font-size: 1.4rem;
  color: var(--color-secondaty-three);
}

.dishe-title h2 {
  font-family: 'Popping', sans-serif;
  font-size: 3.6rem;
  color: var(--color-primary);
}

.disshe {
  display: flex;
  gap: 2rem;
}

.disshe .disshe-img {
  display: flex;
  align-items: center;
}

.disshe .disshe-img img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  object-fit: contain;
}

.disshe .disshe-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  border-left: 1px solid var(--color-secondary);
}

.container-dessert-dishes .disshe .disshe-desc {
  border-left: 1px solid var(--color-secondary-two); 
}

.disshe .disshe-desc h3 {
  font-family: var(--color-secondary-contrast);
  font-weight: 400;
}

.disshe .disshe-desc p {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-secondaty-four);
  position: relative;
}

.disshe .disshe-desc .preco {
  color: var(--color-primary);
  font-weight: 700;
}

.container-about-us {
  margin-top: 120px;
  background-color: var(--color-secondary);
}

.container-about-us .bi-quote {
  display: inline-block;
  font-size: 2.6rem;
  color: var(--color-primary);
}

.container-about-us .rotate {
  transform: rotate(180deg);
  position: absolute;
}


.about-us {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0 120px;
}

.container-card {  
  margin-top: 80px;
  background-color: var(--color-secondary);
}

.card-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  gap: 40px;
  border-left: 4px solid var(--color-primary);
  margin: 0 auto;
  padding-left: 20px;
}

.card-disc p {
  font-family: var(--font-primary);
  color: var(--color-secondaty-three);
  line-height: 1.3;
  margin-bottom: 20px;
}

.card-disc h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text-default);
  font-family: var(--font-primary);
}

.card-disc span {
  font-size: 1.4rem;
  font-family: var(--font-primary);
  color: var(--color-secondaty-four);
}

.stars {
  margin-top: 20px;
}

.stars > i {
  color: #ffc107;
}

.card-img {
  width: auto;
}

.card-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  border: 4px solid #fff;
}

.events {
  max-width: 1400px;
  margin: 120px auto 40px;
}

.container-event-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin-top: 20px;
}

.custom, .birthday, .private {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.custom {
  background-image: url('../imagens/party03.jpg');
  backface-visibility: hidden;
}

.birthday {
  background-image: url('../imagens/party02.jpg');
  backface-visibility: hidden;
}

.private {
  background-image: url('../imagens/party01.jpg');
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  position: relative;
}

.event .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.event h3, .event p, .event span {
  z-index: 100;
}

.event h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: white;
  font-size: 2.4rem;
}

.event span {
  font-family: var(--font-primary);
  font-size: 3.2rem;
  color: white;
  position: relative;
}

.event span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  background-color: var(--color-primary);
  height: 2px;
}

.event p {
  font-family: var(--font-primary);
  line-height: 1.5;
  margin-top: 20px;
  color: var(--color-secondary);
}

.container-chefs {
  background-color: var(--color-secondary);
  padding: 80px 40px;
  margin: 120px auto 0;
}

.container-cards-chefs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.chefs {
  max-width: 1400px;
  margin: 0 auto;
}

.chefs .title {
  margin-bottom: 40px;
}

.chef-card {
  background-color: white;
  width: 30%;
  border-radius: 4px;
  box-shadow: 0px 0 30px rgb(55 55 63 / 8%);
  transition: .6s;
}

.chef-card:hover {
  transition: .6s;
  transform: scale3d(1.07, 1.1, 1);
}

.chef-img {
  width: 100%;
  
}

.chef1 figure {
  background-image: url(../imagens/chef01.jpg);
}

.chef2 figure {
  background-image: url(../imagens/chef02.jpg);
}

.chef3 figure {
  background-image: url(../imagens/chef03.jpg);
}

.chef-img figure {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.chef-img figure::before {
  content: "";
  position: absolute;
  background-image: url('../imagens/wave-shape.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80px;
  bottom: -5px;
  left: 0;
}

.chef-disc {
  text-align: center;
  padding: 0 20px 40px;
}

.chef-disc h4 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-secondary-contrast);
  margin-bottom: 5px;
}

.chef-disc span {
  font-size: 1.4rem;
  color: var(--color-secondary-two);
  font-weight: 400;
}

.chef-disc p {
  color: var(--color-secondaty-four);
  line-height: 1.5;
  font-size: 1.4rem;
  margin-top: 14px;
}

.container-contact-us {
  margin-top: 120px;
}

.contact-us {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.map, .contact-details {
  width: 90%;
  margin: 40px auto;
}

.contact-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: var(--color-secondary);
}

.container-icon i {
  font-size: 2.6rem;
  color: #fff;
}

.contact-disc h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-secondaty-three);
}

.contact-disc p {
  font-family: var(--font-primary);
  font-size: 1.4rem;
  color: var(--color-text-default);
  margin: 0;
}

.container-form {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto 120px;
  padding: 20px;
  box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}

form {
  margin: 0 auto;
}

.form-name-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  margin-bottom: 20px;
  outline: none;
}

input {
  height: 48px;
}

input:focus {
  border-color: var(--color-primary);
}

.button-form {
  display: flex;
  justify-content: center;
}

.button-form button {
  padding: 14px 24px;
}

h4 {
  margin: 0;
}

footer {
  margin: 0 auto;
  background-color: #1F1F24;
}

.container-footer {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
}

.container-data-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.container-icon-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container-icon-footer h4 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: var(--font-primary);
}

.container-icon-footer p {
  font-size: 1.4rem;
  font-family: var(--font-primary);
  color: var(--color-secondary-two);
  margin: 0;
}

.element-footer {
  padding-top: 10px;
}

.container-icon-footer i {
  color: white;
  align-self: start;
  font-size: 2.4rem;
}

hr {
  color: var(--color-secondary-two);
  margin: 40px 0;
}

.copyright  h4 {
  color: var(--color-secondary-two);
  font-size: 1.4rem;
  font-family: var(--font-primary);
  text-align: center;
  margin: 5px;
}

.midias {
  display: flex;
  gap: 10px;
}

.midia {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary-two);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.midia:hover {
  border-color: white;
}

.midia:hover i {
  color: white;
}

.midia i {
  color: var(--color-secondary-two);
  font-size: 1.6rem;
  align-self: center;
}

@media (max-width: 1400px) {
  .carouseul {
    width: 80%;
  }
}

@media (max-width: 1150px) {
  .dish-image img {
    width: 426px;
  }

  .container-carouseul {
    min-height: 50vh;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .dish-image img {
    width: 350px;
  }

  .container-carouseul {
    min-height: 46vh;
    height: auto;
  }

  .disshe .disshe-img img {
    width: 100px;
    height: 100px;
  }

  header {
    width: 90%;
  }

  .chef-img figure {
    height: 300px;
  }

  .carouseul {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .card-about-us {
    width: 80%;
  }

  .map, .contact-details, .container-form {
    width: 100%;
  }

  .container-chefs {
    padding: 40px 0;
  }

  .container-footer {
    width: 100%;
  }

  .hamburguer {
    display: block;
  }

  header #menu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    height: 0px;
    transition: .6s;
    background-color: white;
    z-index: 100;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
  }

  header nav.active #menu {
    height: calc(50vh - 60px);
    visibility: visible;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }

  .event {
    padding: 20px 10px;
  }

  .card-img img {
    width: 150px;
    height: 150px;
  }

  .midia {
    width: 30px;
    height: 30px;
  }

  .disshe .disshe-img img {
    width: 90px;
    height: 90px;
  }

  .dish-image img {
    width: 300px;
  }

  .container-carouseul {
    min-height: 36vh;
    height: auto;
  }

  .contact-card {
    padding: 10px;
  }

  .map iframe {
    height: 250px;
  }

  .container-contact-us {
    margin-top: 80px;
  }

  .about-us {
    padding: 40px 0 80px;
  }

  .container-dessert-dishes {
    margin: 80px 0;
  }

  header {
    height: 60px;
  }

  .container-menu-information {
    padding: 40px;
  }

  .events {
    margin: 80px 0 40px ;
  }

  .container-chefs {
    margin: 80px auto 0;
  }
}

@media (max-width: 722px) {
  .dish-text h1 {
    font-size: 7.4rem;
  }

  .container-event-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .custom, .birthday, .private {
    min-height: 200px;
    background-position: center;
  }

  .container-card {
    margin-top: 40px;
  }

  .container-form {
    margin: 0 auto 40px;
  }

  .carouseul {
    flex-direction: column;
  }

  .container-carouseul {
    min-height: 70vh;
    height: auto;
    padding: 40px 0;
  }

  .principal-dishes, .dessert-dishes, .drinks-dishes {
    grid-template-columns: repeat(2, 1fr);
  }

  .event {
    padding: 20px 40px;
  }

  .container-icon i {
    font-size: 2rem;
  }

  .container-icon {
    width: 40px;
    height: 40px;
  }

  .container-data-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container-cards-chefs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
  }

  .chef-card {
    width: 100%;
  }

  .card-about-us {
    width: 90%;
  }

  .container-cards-chefs {
    padding: 0 20px;
    gap: 10px;
  }

  .contact-details {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-card {
    padding: 20px 10px;
  }

  .dish-text {
    padding-left: 20px;
  }

  .container-icon-footer i {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .form-name-email {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .disshe .disshe-img img {
    width: 70px;
    height: 70px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--color-secondary);
  }
}

@media (max-width: 450px) {
  .container-cards-chefs {
    grid-template-columns: repeat(1, 1fr);
  }

  .chef-card {
    width: 70%;
    margin: 0 auto;
  }

}

@media (max-width: 400px) {
  .container-drinks-dishes {
    padding-top: 0;
  }

  .disshe {
    flex-direction: column;
    align-items: center;
  }

  .disshe .disshe-img img {
    width: 80px;
    height: 80px;
  }

  .card-about-us {
    flex-direction: column;
  }

  .card-img img {
    width: 200px;
    height: 200px;
  }

  .chef-card {
    width: 80%;
  }

  .container-cards-chefs {
    gap: 20px;
  }

  .title h2 {
    font-size: 4rem;
  }

  .container-icon-footer h4 {
    font-size: 1.9rem;
  }

  .container-icon-footer p {
    font-size: 1.6rem;
  }

  .element-footer {
    padding-top: 0.7rem;
  }

  .container-icon-footer i {
    font-size: 2.5rem;
  }

  .container-data-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .container-data-footer {
    justify-items: start;
    gap: 20px;
    padding-left: 20px;
  }

  .midia {
    width: 40px;
    height: 40px;
  }

  .chef-card {
    width: 90%;
  }
}

@media (max-width: 300px) {
  .button-contact button {
    display: none;
  }

  header .logo {
    font-size: 2rem;
  }

  .hamburguer {
    border-top: 2px solid var(--color-secondary-contrast);
    margin-right: 10px;
  }

  .hamburguer::after, .hamburguer::before {
    height: 2px;
  }

  .dish-text {
    padding-left: 10px;
  }

  .chef-card {
    width: 100%;
  }
}
